body{
    background-color: #494949;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

}
.ascii{
    color: #ffffff;
    font-size: 300px;
    text-align: center;
    line-height: 90px;
    position: relative;
}
.key{
    color: #a8a8a8;
    font-size: 35px;
    position: absolute;
    top: 60%;
    left: 42%;

}
footer{
    text-align: right;
    color: #ffffffd5;
}